FTSS.AutoDeleteFiles/Web References/DeleteFilesWS/WSDeleteFiles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteFiles">
        <s:complexType />
      </s:element>
      <s:element name="DeleteFilesResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDirectoryNotExistInDB">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDirectoryNotExistInDBResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteFilesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFiles" />
  </wsdl:message>
  <wsdl:message name="DeleteFilesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFilesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDirectoryNotExistInDBSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryNotExistInDB" />
  </wsdl:message>
  <wsdl:message name="DeleteDirectoryNotExistInDBSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryNotExistInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDeleteFilesSoap">
    <wsdl:operation name="DeleteFiles">
      <wsdl:input message="tns:DeleteFilesSoapIn" />
      <wsdl:output message="tns:DeleteFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectoryNotExistInDB">
      <wsdl:input message="tns:DeleteDirectoryNotExistInDBSoapIn" />
      <wsdl:output message="tns:DeleteDirectoryNotExistInDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDeleteFilesSoap" type="tns:WSDeleteFilesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteFiles">
      <soap:operation soapAction="http://tempuri.org/DeleteFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectoryNotExistInDB">
      <soap:operation soapAction="http://tempuri.org/DeleteDirectoryNotExistInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDeleteFilesSoap12" type="tns:WSDeleteFilesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteFiles">
      <soap12:operation soapAction="http://tempuri.org/DeleteFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectoryNotExistInDB">
      <soap12:operation soapAction="http://tempuri.org/DeleteDirectoryNotExistInDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDeleteFiles">
    <wsdl:port name="WSDeleteFilesSoap" binding="tns:WSDeleteFilesSoap">
      <soap:address location="http://ftss.azurewebsites.net/WebService/WSDeleteFiles.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDeleteFilesSoap12" binding="tns:WSDeleteFilesSoap12">
      <soap12:address location="http://ftss.azurewebsites.net/WebService/WSDeleteFiles.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>